<div class="panel panel-shortcut  col-md-6">
  <div class="panel-heading">Providers</div>
  <div class="panel-body">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Provider</th>
            <th>Key JSON</th>
            <th>Resources</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AWS</td>
            <td>asd</td>
            <td>23</td>
          </tr>
          <tr>
            <td>GCP</td>
            <td>Moe</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Azure</td>
            <td>Dooley</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-shortcut  col-md-5 col-md-offset-1">
  <div class="panel-heading">Add Provider</div>
  <div class="panel-body">
    <form class="form" action="/action_page.php">
      <div class="form-group">
        <label for="email">Provider:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Key Json:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Access" name="email">
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
