<div class="panel data-panel col-md-2">
  <div class="panel-body">Resources: 322</div>
</div>


<div class="panel data-panel col-md-2">
  <div class="panel-body">IPs: 322</div>
</div>


<div class="panel data-panel col-md-2">
  <div class="panel-body">VMs: 322</div>
</div>



<div class="panel data-panel col-md-2">
  <div class="panel-body">Load Balancers: 322</div>
</div>


<div class="panel data-panel col-md-2">
  <div class="panel-body">Users: 3</div>
</div>


<div class="panel data-panel col-md-2">
  <div class="panel-body">Other content1</div>
</div>

<div class="panel data-panel col-md-2">
  <div class="panel-body">Other content1</div>
</div>

<div class="panel data-panel col-md-2">
  <div class="panel-body">Other content1</div>
</div>

<div class="panel data-panel col-md-2">
  <div class="panel-body">Other content1</div>
</div>

<div class="panel data-panel col-md-2">
  <div class="panel-body">Other content1</div>
</div>


<div class="panel panel-shortcut col-md-5">
  <div class="panel-heading">Launch VM</div>
  <div class="panel-body">
    <form class="form" action="/action_page.php">
      <div class="form-group">
        <label for="email">VM name:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Vm name" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Provider:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter provider" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Region:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter region" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Subnet:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter subnet" name="email">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> is public?</label>
      </div>
      <button type="submit" class="btn btn-primary">Launch</button>
    </form>
  </div>
</div>



<div class="panel panel-shortcut  col-md-5 col-md-offset-1">
  <div class="panel-heading">Launch Template</div>
  <div class="panel-body">
    <form class="form" action="/action_page.php">
      <div class="form-group">
        <label for="email">Template name:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Provider:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter provider" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Region:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter region" name="email">
      </div>
      <button type="submit" class="btn btn-primary">Launch</button>
    </form>
  </div>
</div>
