<div class="panel panel-shortcut  col-md-3">
  <div class="panel-heading">Create User</div>
  <div class="panel-body">
    <form class="form" action="/action_page.php">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Access Group:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Access" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Team:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Team" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">User Permissions:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Permissions" name="email">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

<div class="panel panel-shortcut col-md-3 col-md-offset-1">
  <div class="panel-heading">Create Team</div>
  <div class="panel-body">
    <form class="form" action="/action_page.php">
      <div class="form-group">
        <label for="email">Name:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Description</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Access" name="email">
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

<div class="panel panel-shortcut col-md-3 col-md-offset-1">
  <div class="panel-heading">Create Access Group</div>
  <div class="panel-body">
    <form class="form" action="/action_page.php">
      <div class="form-group">
        <label for="email">Access Group:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Permissions</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Access" name="email">
      </div>

      <div class="form-group">
        <label for="pwd">Descriptions</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Access" name="email">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
